#item1 { grid-area: item1; }
#item2 { grid-area: item2; }
#item3 { grid-area: item3; }
#item4 { grid-area: item4; }
#item5 { grid-area: item5; }
#item6 { grid-area: item6; }
#item7 { grid-area: item7; }
#item8 { grid-area: item8; }
#item9 { grid-area: item9; }


html{
  background-color: rgb(10, 26, 42);
  user-select: none;
}
::-webkit-scrollbar{
  display: none;
}

.hatter{
  background-color: rgb(23, 61, 84);
  border-radius: 5%;
  margin: auto;
  padding: auto;
  width: 300px;
  height: 300px;
}

.fejlec{
  background-color: rgb(42, 43, 45);
  color: aliceblue;
  text-align: center;
  font-size: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
.kosar{
  text-align: right;
  left: 0;
  width: 100vw;;
  font-size: 25px;
  position: absolute;
  background-color: rgb(62, 70, 84);
  color: rgb(4, 6, 11)
}

#container{
  margin-top: 70px;
    display: grid;
    grid-template-areas:
    'item1 item2 item3'
    'item4 item5 item6'
    'item7 item8 item9';
    gap: 10px;
    justify-content: center;
    align-items: center;
}
img{
    width:80%;
    margin-left: 9.5%;
    margin-top:10% ;
    -webkit-user-drag: none;
}

.hatter:hover{
    background-color: lightgray;
    transition: 0.4s;
    cursor: pointer;
}

footer{
  margin-top: 25px;
  text-align: right;
  color: aliceblue;
  padding-right: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  transform: translateX(-10px);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    color: white;
    text-align: center;

   }

  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.3;

}
.closebtn{
  background-color: transparent;
  border: 0;
  color: rgb(42, 43, 45);
}
.closebtn:hover{
  color: #f1f1f1;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
div.print>div{
  margin-bottom: 10px;
}

.print{
  margin-bottom: 60px;
}

.nav-bar{
  display: grid;
  grid-template-columns: repeat(3 , calc(100%/3)) ;
  
}
.nav-item1{
  right: 2%;
  cursor: pointer;
}
#buy{
  cursor: pointer;
}
@media screen and (max-width:415px) {
  .nav-bar{
    font-size: 18px;
   }
  .hatter{
    width: 150px;
    height: 150px;
}
  #container{
    display: grid;
      grid-template-areas:
        'item1 item2'
        'item3 item4'
        'item5 item6'
        'item7 item8'
        'item9 item9';
        }
}
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}